<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Member</title>
</head>
<body>
<h1>Create New Member</h1>
<form action="#" th:action="@{/member}" th:object="${member}" method="post"> <div>
    <label>Name:</label>
    <input type="text" th:field="*{Name}" />
</div>
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" />
    </div>
    <div>
        <label>Membership Date (YYYY-MM-DD):</label>
        <input type="date" th:field="*{membershipDate}" />
    </div>
    <div>
        <label>Library ID:</label>
        <input type="text" th:field="*{LibraryId}" />
    </div>
    <div>
        <button type="submit">Create</button>
    </div>
</form>
</body>
</html>